.tree-renderer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.tree-svg {
  pointer-events: none;
  overflow: visible;
}

.tree-nodes {
  position: absolute;
  top: 0;
  left: 0;
  width: 2000px;
  height: 2000px;
  transform-origin: center center;
}

.tree-svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 2000px;
  height: 2000px;
  transform-origin: center center;
}

.tree-node {
  position: absolute;
}

